body{
    background-color: rgba(241, 241, 241, 1)
}
@font-face {
    font-family: 'bold';
    src: url('assets/fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'regular';
    src: url('assets/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.news-card{
    margin: 5%;
    display: grid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
 
}
#byline{
    font-family: 'regular';
}
#title{
    font-family: 'bold';
}
#abstract{
    font-family: 'regular';
}
#options{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    height: 3.5rem;
}
#tag{
    width: 25%;
    border-radius: 10%;
    height: 1.8rem;
    border: none;
    background-color: rgba(255, 251, 254, 1);
    font-family: 'bold';
}
#readto{
    opacity: 0.5;
    font-family: 'regular';
}
#dot{
    font-weight: bold;
}
#selectedfor{
    opacity: 0.5;
    font-family: 'regular';
}
#img{
    margin-left: auto;
    width: 15%;
    height: auto;
    border-radius: 10%;
}
#text-and-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin-bottom: 1.5rem;
}